<h1>Dragon Ball Z</h1>
<hr>
  <app-personajes >
  </app-personajes>
   <app-agregar
   [nuevo]="nuevo">
  </app-agregar>

<div class="col">

  <hr>
</div>
     <!-- con las llaves cuadradas en el lado de nuestro componenete hay algun valor q quiero enlazarlo directamente (one way data binding,quiero decirle al value q apunte al nombre del objeto  nuevo.nombre) -->


     <!-- para cambiar el nombre del objeto debo poner el ngModel con corchetes y parentesis para q emita el evento y genere el cambio, x eso se usan las dos -->
